<div class="poem-stats">
  <strong>Born:</strong> <%= born_fmt(poem) %> <br />
  <% unless poem.alive %>
    <strong>Died:</strong> <%= died_fmt(poem) %> <br />
  <% end %>
  <strong>Votes for/against:</strong> <%= poem.votes_for %> / <%= poem.votes_against %> <br />
  <% if poem.alive? %>
    <strong>Votes for until it bears a child:</strong> <%= poem.votes_til_birth %><br />
    <strong>Votes against until it dies:</strong> <%= poem.votes_til_death %><br />
  <% end %>
  <strong>Number of Children:</strong> <%= poem.all_children.length %><br />
</div>
