<% if poem.parent_id && poem.second_parent_id %>

  <div class="parents-container">
    <div class="parent-with-mate">
      <p><strong>Mother:</strong></p>
      <p> <%= mother_link(poem) %> </p>
    </div>
    <%= narrow_t %>
    <div class="parent-with-mate">
      <p><strong>Father:</strong></p>
      <p> <%= father_link(poem) %> </p>
    </div>

    <%= clear %>
  </div>

<% elsif poem.parent_id %>

  <div class="parent-alone auto-margins">
    <p><strong>Mother:</strong></p>
    <p> <%= mother_link(poem) %> </p>
  </div>

  <%= short_vertical_line %>
<% else %>

  <div class="language-parent auto-margins">
    <p class="label">Parentless</p>
    <p>This poem was generated directly by <%= link_to @poem.language.name, @language %>.</p>
  </div>

  <%= short_vertical_line %>
<% end %>

<div class="centered-poem">
  <%= render poem %>
</div>

<%= short_vertical_line %>
