<%= content_for :document_ready do %>
  nonsenseEngine.inheritenceView.enable();
  $('.fam-tree-leaf').bind( 'click', nonsenseEngine.fullSize.open);
  $('.fam-tree-leaf-self').bind( 'click', nonsenseEngine.fullSize.open);
<% end %>

<div id="container">

  <% unless @poem.alive %>
    <h1>Deceased</h1>
  <% end %>

  <div class="left-column">
    <%= render @poem %>
  </div>
  <div class="right-column">
    <%= render :partial => "poem_stats", :locals => { :poem => @poem } %>
  </div>
  <div class="clear"></div>
</div>
<hr>
<h3>Family Tree</h3>
<%= render 'shared/inheritence_view_setter' %>
<div class="family-tree">
  <%= family_tree(@poem) %>
  <div class="clear"></div>
</div>
