<div class="language">
  <h3><%= language.name %></h3>
  <div class="left-language">
    <p class="language-description"><%= language.description %></p>
    <p class="language-description">Featuring works by <%= author_links(language) %>
    with a total of <%=pluralize language.total_votes, "vote" %></p>
  </div>
  <div class="right-language">
    <div class="centered">
      <strong>Top Poems</strong><br />
      <%= carousel_prev_link(language) %> | <%= carousel_next_link(language) %>
    </div>
    <div class="carousel" id="<%= carousel_id(language) %>">
      <ul>
        <% language.top_5.each do |poem| %>
            <li>
              <%= render poem %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
