<script type="text/javascript">
    $(function(){
        $("div.top-poems-<%= language.id %>").carousel({
          effect:    'fade',
          animSpeed: 'slow',
          direction: 'vertical'
        });
    });
</script>

<div class="language">
  <h3><%= language.name %></h3>
  <div class="left-language">
    <p class="language-description"><%= language.description %></p>
    <p class="language-description">Featuring works by <%= author_links(language) %>
    with a total of <%=pluralize language.total_votes, "vote" %></p>
  </div>
  <div class="right-language">
    <h3>Top Poems</h3>
    <div class="top-poems-<%= language.id %>">
      <ul>
        <% language.top_5.each do |poem| %>
            <li> <%= render poem %> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
