<div class="language">
  <h2><%= language.name %></h2>
    <p>Featuring works by <%= author_links(language) %>
    with a total of <%=pluralize language.total_votes, "vote" %>.</p>

    <p><%= language.description %></p>

    <% if able_to_view?(language) %>
      <p><%= link_to "More info", language %></p>
    <% end %>

    <p>
      <%= link_to "View Top Poems", '#', :id => unfold_link_id(language) %>
      <%= link_to "Hide Top Poems", '#', :id => fold_link_id(language) %>
    </p>
    <div class="folding" id="<%= fold_region_id(language) %>">
      <div class="centered">
        <strong>Top Poems</strong><br />
        <%= carousel_counter(language) %>
        <%= clear %>
        <%= carousel_prev_link(language) %> | <%= carousel_next_link(language) %><br />
      </div>
      <div class="carousel" id="<%= carousel_id(language) %>">
        <ul>
          <% language.poems.top_5.each do |poem| %>
              <li>
                <%= render poem %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if language.active? %>
      <p>This language is still <strong>active</strong>, which means you can take part
      in its evolution.  </p>
      <%= link_to evolution_chamber_path(language.id) do %>
        <div class="call-to-action">
          <p class="label">Evolve</p>
          <p class="description"><%= language.name %></p>
        </div>
      <% end %>
    <% else %>
      <p>This language is <strong>inactive</strong>, meaning that you no
      new poems are being born and you cannot affect the score of old
      poems.  You are free to look at the poems that were created and
      evolved in this language, however.</p>
    <% end %>

</div>
