<h1>Nonsense Languages</h1>

<p>These are the languages that Nonsense Engine uses to generate and evolve the poems found here.  
All of the nonsense languages are based on the very real language of one or more writers. 
You can read more about how Nonsense Engine creates its nonsense <%= link_to "here", pages_about_path %>.</p>

<%= will_paginate %>

<%= render @languages %>

<%= will_paginate %>

<%= link_to 'Home', root_path %>
