<%= content_for :additional_head do %>
  <%= javascript_include_tag "rjcarousel" %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.carousel').initRJCarousel({counter: true}).next();
    });
  <% end %>
<% end %>

<div class="langauges-header">
  <div class="left-languages-column">
    <h1>Nonsense Languages</h1>

    <p>These are the languages that Nonsense Engine uses to generate and evolve the poems found on this site.
    All of the nonsense languages are based on the very real language of one or more writers.
    You can read more about how Nonsense Engine creates its nonsense <%= link_to "here", pages_about_path %>.</p>
  </div>

  <div class="right-languages-column">
  </div>

  <%= clear %>
</div>

<%= will_paginate %>

<%= render @languages %>

<%= will_paginate %>

<%= link_to 'Home', root_path %>
