<%= content_for :additional_head do %>
  <%= javascript_tag "var lang, disp, cont" %>
<% end %>

<%= content_for :document_ready do %>
  lang = nonsenseEngine.markov.language();
  disp = nonsenseEngine.markov.display($('#markov-container'));
  cont = nonsenseEngine.markov.controller('languages/1.json', lang, disp);
  cont.start();
<% end %>

<div class="main-left-column">
  <div id="markov-container"></div>
</div>
<div class="main-right-column">
  <div class="home-links">
    <h1>Nonsense Engine</h1>
    <h3>computer generated poetry that evolves</h3>
    <ul>
      <%= link_to evolution_chamber_random_path do %>
        <li class="call-to-action">
          <p class="label">
            Evolution Chamber
          </p>
          <p class="description">
            quickly take part in the evolution
          </p>
        </li>
      <% end %>
      <%= link_to controller: 'about', action: 'index' do %>
        <li class="button">
          <p class="label">
            What is This Nonsense?
          </p>
          <p class="description">
            explains just what is going on here
          </p>
        </li>
      <% end %>
      <%= link_to languages_path do %>
        <li class="button">
          <p class="label">
            Languages
          </p>
          <p class="description">
            choose which language to evolve
          </p>
        </li>
      <% end %>
      <%= link_to authors_path do %>
        <li class="button">
          <p class="label">
            Original Works
          </p>
          <p class="description">
            writings on which the randomness is based
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= clear %>
