<%= content_for :document_ready do %>
  nonsenseEngine.inheritenceView.enable();
<% end %>

<div class="quick-first-row">
  <%= render @orig_poem %>
  <%= form_to_continue(@orig_poem) %>
</div>

<ul class="quick-second-row">
  <li class="first">
    <%= render @other_poems[0] %>
    <%= form_to_continue(@other_poems[0]) %>
  </li>
  <li class="second">
    <%= render @other_poems[1] %>
    <%= form_to_continue(@other_poems[1]) %>
  </li>
  <li class="third">
    <%= render @other_poems[2] %>
    <%= form_to_continue(@other_poems[2]) %>
  </li>
</ul>
