<%= content_for :document_ready do %>
  nonsenseEngine.inheritenceView.disable();
<% end %>

<%= render 'shared/inheritence_view_setter' %>
<div class="left-column">
  <%= render @poem1 %>
  <%= link_to "Select this poem", {:id => @language, :action => :vote, :vote_for => @poem1, :vote_against => @poem2}, :method => :post %>
  | <%= link_to "about this poem", poem_path(@poem1) %>
</div>
<div class="right-column">
  <%= render @poem2 %>
  <%= link_to "Select this poem", {:id => @language, :action => :vote, :vote_for => @poem2, :vote_against => @poem1}, :method => :post %>
  | <%= link_to "about this poem", poem_path(@poem2) %>
</div>
