<h1>Login</h1>

<%= form_for @user_session, :url => {:action => "create"} do |f| %>
  <%= render 'shared/errors', :object => f.object %>
  <p>
    <%= f.label :user_name_or_email, "User Name or email" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <div class="actions">
     <p><%= f.submit "Sign in" %> New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
<% end %>

