<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "main_style" %>
  <%= javascript_include_tag :defaults, "jquery.color.js" %>
  <%= yield :additional_head %>
  <%= csrf_meta_tag %>
  <%= javascript_tag do %>
    $(document).ready( function() {
      <%= yield :document_ready %>
    });
  <% end %>
  <% javascript_tag do %>
    var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ebea868f5a1f52c51000005');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

  <% end %>
</head>
<body>

<%= render 'layouts/header' %>


<div class="main-body<%= yield :extra_body_class %>">
  <div class="margin-box">
    <% flash.each do |key, value| %>
      <% unless key == :voting_response %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</div>
<div class="clear"></div>
</body>
</html>
